<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fmb.HttpSessions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="fmb.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      
    </configSections>
    <userSettings>
        <fmb.HttpSessions>
            <setting name="sessionId" serializeAs="String">
                <value />
            </setting>
            <setting name="accessLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </fmb.HttpSessions>
        <fmb.Settings>
			<setting name="adminPassword" serializeAs="String">
				<value>password</value>
			</setting>
			<setting name="libraryPaths" serializeAs="String">
				<value>
				</value>
			</setting>
		</fmb.Settings>
    </userSettings>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing = "true"/>
    </settings>
  </system.net>
</configuration>